# Node
node_modules/
backend/node_modules/
frontend/node_modules/

# Build
backend/dist/
frontend/build/

# Media
media/

# DB
*.sqlite

# # Env
# .env
# backend/.env
# frontend/.env

# Docker
db_data/ 